@font-face {
  font-family: Super Wadon;
  src: local("Super Wadon"), url(./fonts/Super-Wadon.otf) format("opentype");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html {
  background-color: #801738;
  background-image: url("https://www.transparenttextures.com/patterns/scribble-light.png");
}

body {
  font-family: Super Wadon;
}

section {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

h2 {
  margin-bottom: 1em;
  font-size: 40px;
  color: #fff;
}

h3 {
  margin-top: 0.5em;
  font-size: 24px;
  color: #fff;
}

.hero.has-background {
  position: relative;
  overflow: hidden;
}

.hero-background {
  position: relative;
  object-fit: contain;
  width: 88%;
  margin-top: 1em;
  left: 6%;
}

.merch {
  margin: 0 15px !important;
}

.merch-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.bandcamp {
  border: 0;
  width: 350px;
  height: 470px;
}

.bandcamp-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.songkick-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.songkick-container > div {
  width: 70%;
}

.nav-background {
  animation: fadeIn 0.25s;
  background-color: #fcdab4 !important;
  box-shadow: 0px 1px 10px #37302988;
}

#nav-item {
  animation: fadeIn 0.25s;
  font-size: 24px;
  color: #fff;
}

#nav-item:hover {
  color: #fcdab4;
}

#nav-item-scroll {
  animation: fadeIn 0.25s;
  font-size: 24px;
  color: rgb(119, 26, 26);
}

#nav-item-scroll:hover {
  color: #d55f5f;
}
